extends ./base.jade

block content
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				section(class="game-details",style="background-color: rgba(0,0,0,255);")
					header(class="row")
						div(class="col-md-4")
							img(src="#{ game.titleMediaUri }", alt="#{ game.title } title screen")
						article.pixel-text(class="col-md-8")= game.description
		div(class="row")
			div(class="col-md-12")
				if game.quotes
					if game.quotes.length > 0
						section#tileContainer(class="quote-list tile-container")
							each quote, index in game.quotes
								article(class="tile quote", data-index="#{ index }", data-quote="#{ quote.id }" data-toggle="modal", data-target="#quoteModal")
									div(class="bg", style="background-image: url('#{ quote.mediaUri }');")
										h3(class='tile-title')= quote.title
					else
						h3.pixel-text Awww SNAP! No quotes for this game.
	
	// modal
	if game.quotes	
		div(class="modal fade" id="quoteModal")
			div(class="modal-dialog modal-lg")
				section(class="modal-content")
					section#quoteDisplay(class="modal-body")
						each quote, index in game.quotes
							article(style="display: none;", data-index="#{ index }")
								if quote.mediaUri.search(/(.mp3)/ig) > -1
									p.pixel-text.dark Sound file playback is coming soon!
									h3= quote.title
									h5= quote.description
								else
									img(src="#{ quote.mediaUri }", alt="#{ quote.title }")
									h3= quote.title
									h5= quote.description
								
					footer(class="modal-footer")
						button(class="btn btn-default", type="button", data-dismiss="modal") Close
					
	// script
	script(data-main="/script/gameview", src="/lib/requirejs/require.js")
		
